@keyframes waveAnimation {
    0% { transform: translateY(0px) scaleY(1); }
    25% { transform: translateY(-10px) scaleY(1.02); }
    50% { transform: translateY(5px) scaleY(0.98); }
    75% { transform: translateY(-7px) scaleY(1.01); }
    100% { transform: translateY(0px) scaleY(1); }
  }
  
  .animated-bg {
    position: absolute;
    inset: 0;
    background: url('../assets/so.svg') repeat-x;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
    animation: waveAnimation 6s ease-in-out infinite;
  }
  