@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  /* font-family: "Poppins", sans-serif !important; */
}
body, html {
  overflow-x: hidden;
}
<<<<<<< HEAD
=======

>>>>>>> f8eebe8add9bd54d0f0007b8de3d655c5c003066
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
  /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite; 
} */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite; /* Podesi brzinu po želji */
  will-change: transform;
}

section {
  overflow: hidden;
}