@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  font-family: "Roboto", sans-serif !important; 
}
body, html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0;
  /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite; 
} */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
  will-change: transform;
}

section {
  overflow: hidden;
}

h1 {
  font-size: 3.5rem !important; /* 56px */
  font-weight: 700 !important;
}
h2 {
  font-size: 3rem !important; /* 48px */
  font-weight: 700 !important;
}
h3 {
  font-size: 2rem !important; /* 32px */
  font-weight: 600 !important;
}
h4 {
  font-size: 1.5rem !important; /* 32px */
  font-weight: 600 !important;
}
h5 {
  font-size: 1.3rem !important; /* 32px */
  font-weight: 600 !important;
}
p {
  font-size: 1.125rem !important; /* 18px */
  font-weight: 400 !important;
  line-height: 1.6 !important;
}

button {
  font-size: 1rem !important; /* 16px */
  font-weight: 500 !important;
}

small {
  font-size: 0.875rem !important; /* 14px */
  
}

.commitment {
  text-align: left; /* ili nešto slično */
  margin-right: 7rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.25rem; /* oko 36px */
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }
}


